<div class="row g-0">
    <div class="row g-3">
        <form action="/category/add" method="POST" class="row g-4">
            <div class="col-5">
                <label for="numberCategory" class="form-label">Number Category</label>
                <input type="text" class="form-control" name="numberCategory">
            </div>
            <br>
            <div class="col-5">
                <label for="name" class="form-label">Name Category</label>
                <input type="text" class="form-control" name="name">
            </div>
            <br>
            <div class="col-8">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
</div>