<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text">Inventory of all products</p>
        <a href="/product" class="btn btn-primary">Go Products</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Customers</h5>
        <p class="card-text">All Customers in System</p>
        <a href="/customer" class="btn btn-primary">Go Customer</a>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Suppliers</h5>
        <p class="card-text">All Suppliers in system</p>
        <a href="/supplier" class="btn btn-primary">Go Supplier</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Receipts</h5>
        <p class="card-text">All Receipts in system</p>
        <a href="/receipt" class="btn btn-primary">Go Receipt</a>
      </div>
    </div>
  </div>
</div>


{{!-- class="card-img-top" --}}